.card-container .card {
    width: 300px;
    height: -moz-fit-content;
    height: 200px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    margin: 0 8px 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card .card-info {
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 9px 12px;
}

.card-info .card-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.card-info img{
    width: 100px;
    object-fit: contain;
}

.figure {
    width: 100%;
    border-radius: 24px;
}
figure > img {
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
}
.card-detail h3 {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}