li {
    background-color: black;
    width: fit-content;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-family: Poppins;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

h2 {
    margin: 30px;
}